셔틀 운행 횟수 -> n
셔틀 운행 간격 -> t
한 셔틀에 탈 수 있는 최대 크루 수 -> m
크루가 대기열에 도착하는 시각 배열 -> timetable

In [17]:
n = 1
t = 1
m = 5
timetable = ["08:00", "08:01", "08:02", "08:03"]
# return = "09:00"

In [26]:
n = 2
t = 10
m = 2
timetable = ["09:10", "09:09", "08:00"]

In [27]:
class variables :
    defaultH = 9
    defaultM = 0
    shuttleTable = [[defaultH, defaultM]]

def makeShuttleTalbe(n, t) :
    for i in range(1, n) :
        total = t*i

        hour = total//60
        min_ = total%60

        variables.shuttleTable.append([variables.defaultH+hour, variables.defaultM+min_])

In [28]:
timetable.sort()
newTable = []

for time in timetable :
    hh, mm = time.split(":")
    
    newTable.append([hh, mm])

['08:00', '09:09', '09:10']

In [29]:
for i in range(len(timetable)-1, -1, -1) :
    if timetable[i] == "23:59" :
        timetable.pop()
    else :
        break

In [30]:
variables.shuttleTable

[[9, 0]]

In [31]:
result = []
count = 0

In [32]:
timetable

['08:00', '09:09', '09:10']

In [33]:
if len(timetable)//m == 0 :
    answer = "09:00"
else :
    try :
        for shuttle in variables.shuttleTable :
            for i in range(m) :
                shuttle.append(timetable[count+i])

            count += 1
            result.append(shuttle)
    except :
        pass

In [34]:
result

[[9, 0, '08:00', '09:09']]

In [45]:
answer = ':'.join(newTable[len(result)*m])

'09:10'

In [ ]:
class variables :
    defaultH = 9
    defaultM = 0
    shuttleTable = [[defaultH, defaultM]]

def makeShuttleTalbe(n, t) :
    for i in range(1, n) :
        total = t*i

        hour = total//60
        min_ = total%60

        variables.shuttleTable.append([variables.defaultH+hour, variables.defaultM+min_])

def solution(n, t, m, timetable) :
    timetable.sort()
    
    for i in range(len(timetable)-1, -1, -1) :
        if timetable[i] == "23:59" :
            timetable.pop()
        else :
            break
        
    newTable = []
    result = []
    count = 0

    for time in timetable :
        hh, mm = time.split(":")

        newTable.append([hh, mm])
        
    if len(timetable)//m == 0 :
        answer = "09:00"
    else :
        try :
            for shuttle in variables.shuttleTable :
                for i in range(m) :
                    shuttle.append(timetable[count+i])

                count += 1
                result.append(shuttle)
        except :
            pass
        
        answer = ':'.join(newTable[len(result)*m])
    
    return answer